<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>MO Rent a Car</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <section class="search-section">
        <h2>Araç Kiralama Formu</h2>
        <form action="#" method="POST" class="car-rental-form">
            <div class="form-group">
                <label for="pickup-location">Alış Yeri:</label>
                <input type="text" id="pickup-location" name="pickup-location" required>
            </div>

            <div class="form-group">
                <label for="dropoff-location">Bırakış Yeri:</label>
                <input type="text" id="dropoff-location" name="dropoff-location" required>
            </div>

            <div class="form-group">
                <label for="pickup-date">Alış Tarihi:</label>
                <input type="date" id="pickup-date" name="pickup-date" required>
            </div>

            <div class="form-group">
                <label for="dropoff-date">Bırakış Tarihi:</label>
                <input type="date" id="dropoff-date" name="dropoff-date" required>
            </div>

            <div class="form-group">
                <button type="submit">Araçları Görüntüle</button>
            </div>
        </form>
    </section>
</body>

</html>